# 파이썬 시작하기

## 파이썬 변수

In [1]:
# 1. 화면에 Hello World 문자열을 출력하세요.
print('Hello World')

Hello World

In [2]:
# 2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
# 3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".
print( "신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".

In [5]:
# 4. 화면에 "C:\Windows"를 출력하세요.
print("C:\\Windows")

C:\Windows

In [6]:
# 5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \t: tab역할
# \n: 줄바꿈

안녕하세요.
만나서		반갑습니다.

In [7]:
# 6. print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일

* (str,sep=/end=)

In [10]:
# 7. print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung
print('naver','kakao','sk','samsung',sep=';')
#문자열 뒤에 sep="기준" 추가 입력

naver;kakao;sk;samsung

In [11]:
# 8. print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [13]:
# 9. 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
# print("first");print("second")
print('first',end='');print('second')
# 문자열 뒤에 end=''사용시 줄바꿈 없이 나옴

first second

In [15]:
# 10. 5/3의 결과를 화면에 출력하세요.
print(5/3)
print(round(5/3,2))

1.6666666666666667
1.67

In [16]:
# 11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
합계 = 삼성전자 * 10
print(합계)

500000

In [18]:
# 12. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER,type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [23]:
# 13. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello"
t = "python"
#두 변수를 이용하여 아래와 같이 출력해보세요.

#실행 예: hello! python
print(s+'!',t)

hello! python

In [24]:
# 14. 아래 코드의 실행 결과를 예상해보세요.
2 + 2 * 3 
# 8

8

In [25]:
# 15. 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = '132'
print(type(a)) # str

<class 'str'>

In [29]:
# 16. 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"
num_int = int(num_str)
print(num_int)
# num_int+1 why??

720

In [31]:
# 17. 정수100을 문자열 '100'으로 변환하시오.
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [33]:
# 18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
str_ = '15.79'
str_float = float(str_)
print(str_float,type(str_float))

15.79 <class 'float'>

In [48]:
# 19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
num_year = int(year)
print(num_year-3,num_year-2,num_year-1,sep=",")

2017,2018,2019

In [49]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
mon_pay = 48584
no_interest = 36

totalpay = mon_pay*no_interest
print(totalpay)

1749024

## 파이썬 문자열

In [50]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0],letters[2])

p t

In [54]:
# 22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [57]:
# 23. 아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"
print(string[::2]) # string[ :>>(시작index) :>>(끝index) 2>>(간격)]

홀홀홀

In [61]:
# 24. 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [64]:
# 25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_1 = phone_number.replace('-',' ')
print(phone_1)

010 1111 2222

In [65]:
# 26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_2 = phone_1.replace(' ','')
print(phone_2)

01011112222

In [71]:
# 27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
# ex = kr
url_1 = url.split('.')
print(url_1[-1])

kr

In [72]:
# 28. 아래 코드의 실행 결과를 예상해보세요.
# lang = 'python'
# lang[0] = 'P'
# print(lang)
# 예상: Python (틀림)
# 정답 : 문자열은 수정불가!!

TypeError: 'str' object does not support item assignment

In [74]:
# 29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
str_2 = string.replace('a','A')
print(str_2)

Abcdfe2A354A32A

In [75]:
# 30. 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b', 'B')
print(string)
# aBcd (틀림)
# 원본이 그대로 있고 새로운 객체를 리턴해주는데 그걸 변수에 담아야함

abcd

In [76]:
# 31. 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)
#34

34

In [77]:
# 32. 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)
# HiHiHHi

HiHiHi

In [78]:
# 33. 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [86]:
# 34. 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# 실행 예: python java python java python java python java
t3 = t1+' '+t2+' '
print(t3*4)

python java python java python java python java

* **문자열출력 응용**

In [92]:
# 35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

print('이름:%s 나이:%d'%(name1,age1))
print('이름:%s 나이:%d'%(name2,age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [93]:
# 36. 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print('이름:{} 나이:{}'.format(name1,age1))
print('이름:{} 나이:{}'.format(name2,age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [95]:
# 37. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름:{name1} 나이{age1}')
print(f'이름:{name2} 나이{age2}')

이름:김민수 나이10
이름:이철희 나이13

In [97]:
# 38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"

fix = 상장주식수.replace(',','')
stock_int = int(fix)
print(stock_int,type(stock_int))

5969782550 <class 'int'>

In [109]:
# 39. 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
분기_1 = 분기.split(' ')
print(분기[:7])
# print(len(분기_1[0]))
# print(분기_1[0][:-3])

2020/03

In [111]:
# 40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data_1 = data.strip()
print(data_1)

삼성전자

In [112]:
# 41. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [113]:
# 42. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [115]:
# 43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = 'hello'
print(a.capitalize()) # 첫글자만 대문자로

Hello

In [118]:
# 44. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith('xlsx') # True/False 반환

True

In [122]:
# 45. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith(('xlsx','xls'))

True

In [123]:
# 46. 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [125]:
# 47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
b = a.split() # 아무것도 입력 안할 시 공백기준으로 split
print(b)

['hello', 'world']

In [126]:
# 48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [135]:
# 49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
data_1 = date.split('-')
print('연도:',data_1[0],'\n','월:',data_1[1],'\n','일:',data_1[2])

연도: 2020
 월: 05
 일: 01

In [137]:
# 50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
data.rstrip()

'039490'

## 파이썬 리스트

In [151]:
# 51. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [152]:
# 52. 051의 movie_rank 리스트에 "배트맨"을 추가하라.
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [153]:
# 53. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
# movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [154]:
# 54. movie_rank 리스트에서 '럭키'를 삭제하라.
# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

# movie_rank.pop(3)
# movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [155]:
# 55. movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2] #여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [156]:
# 56. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [159]:
# 57. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

In [160]:
# 58. 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [161]:
# 59. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [165]:
# 60. 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
avg = sum(nums)/len(nums)
print(avg)

3.0