# 파이썬 분기문

In [5]:
# 121. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.
# >> a
# A
inn = input('press the alphabet')

if inn.islower()==True:
    print(inn.upper())
else:
    print(inn.lower())

press the alphabetA
a

In [13]:
# 122. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

score = int(input('input your score:'))
if score > 100:
    print('wrong_input')

elif score >= 81:
    print('your score is A')
elif score >= 61:
    print('your score is B')
elif score >= 41:
    print('your score is C')
elif score >= 21:
    print('your score is D')
else:
    print('your score is E')

input your score:90
your score is A

In [26]:
# 123. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.
# 입력 :금액+통화단위
# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

환율 = {"달러": 1167, "엔": 1.096,  "유로": 1268,  "위안": 171}
money = input('input:')
###
money1 = money.split()
print(money1)
#print(type(money1[1]))
print(float(money1[0])*환율[money1[1]],'원')

input:1000 엔
['1000', '엔']
1096.0 원

In [36]:
a,b,c = int(input('input numbers:').split())

input numbers:11 8 9

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [34]:
a, b, c
type(a)

str

In [44]:
# 124. 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.
# >> input number1: 10
# >> input number2: 9
# >> input number3: 20
num1, num2, num3 = map(int,input('input numbers:').split())
if num1 > num2 and num1 > num3:
    print(num1)
elif num2>num1 and num2> num3:
    print(num2)
else:
    print(num3)

input numbers:11 8 20
20

In [47]:
##
aa  = map(int,input('input numbers:').split())
bb = list(aa)
max(bb)

input numbers:8 9 12

12

In [55]:
# 125. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.
# 번호	통신사
# 011	SKT
# 016	KT
# 019	LGU
# 010	알수없음
# >> 휴대전화 번호 입력: 011-345-1922
# 당신은 SKT 사용자입니다.

통신사 = {'011':'SKT','016':'KT','019':'LGU','010':'UNK'}
phone_num = input('your hp number:')

import re
company = re.compile('^\d{3}')
m = company.match(phone_num)
#print(m.group()) # 몰라서 검색
print('your HP company :',통신사[m.group()])

your hp number:011-345-1922
011
your HP company : SKT

In [ ]:
# 정답 괜히 어렵게 풀었음

# number = input("휴대전화 번호 입력: ")
# num = number.split("-")[0]
# if num == "011":
#     com = "SKT"
# elif num == "016":
#     com = "KT"
# elif num == "019":
#     com = "LGU"
# else:
#     com = "알수없음"
# print(f"당신은 {com} 사용자입니다.")

In [56]:
# 126. 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.
# 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

address = input()
add1 = address[:3]
if add1 in ["010", "011", "012"]:
    print("강북구")
elif add1 in ["013", "014", "015"]:
    print("도봉구")
else:
    print('노원구')

01400
도봉구

In [57]:
# 127. 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데,
# 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

ssc_num = input()
sc1, sc2 = ssc_num.split('-')
if int(sc2[0]) == 1 or 3:
    print('남자')
else:
    print('여자')

821010-1635210
남자

In [59]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [63]:
# 128. 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라
ssc_num = input()
sc1, sc2 = ssc_num.split('-')
print(sc2)
if 0 <= int(sc2[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

821010-1635210
1635210
서울이 아닙니다.

In [4]:
# 129. 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.
# 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

num = (input())
# num = int(num.replace('-',''))
# TypeError: 'int' object is not subscriptable
# process1 = num[0] * 2 + num[1] * 3 + num[2] * 4 + num[3] * 5 + num[4] * 6
# + num[5] * 7 + num[7] * 8 + num[8] * 9 + num[9] * 2 + num[10]* 3
# + num[11]* 4 + num[12] * 5
num = (num.replace('-',''))
process1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[6]) * 8 + int(num[7]) * 9 + int(num[8]) * 2 + int(num[9])* 3 + \
        int(num[10])* 4 + int(num[11]) * 5
last_num = 11 - (process1 % 11)

if num[-1] == str(last_num):
    print("correct number")
else:
    print("wrong number")

821010-1635210
유효하지 않은 주민등록번호입니다.

In [3]:
process1

128

In [10]:
# 130. 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 
# (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [8]:
type(btc['opening_price'])

str

# 파이썬 반복문

In [11]:
# 131. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과
# 귤
# 수박

사과
귤
수박

In [12]:
# 132. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")
#변수의 수만큼 ### 프린트 됨

#####
#####
#####

In [13]:
# 133. 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

# for 변수 in ["A", "B", "C"]:
#     print(변수)

aa = ['A','B','C']
print(aa[0])
print(aa[1])
print(aa[2])

A
B
C

In [14]:
# 134. for문을 풀어서 동일한 동작을하는 코드를 작성하라.

# for 변수 in ["A", "B", "C"]:
#   print("출력:", 변수)

aa = ['A','B','C']
print("출력:", aa[0])
print("출력:", aa[1])
print("출력:", aa[2])

출력: A
출력: B
출력: C

In [16]:
# 135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

# for 변수 in ["A", "B", "C"]:
#   b = 변수.lower()
#   print("변환:", b)

a = 'A'
a = a.lower()
print("변환:", a)
b = 'B'
b = b.lower()
print("변환:", b)
c = 'C'
c = c.lower()
print("변환:", c)

변환: a
변환: b
변환: c

In [18]:
# 136. 다음 코드를 for문으로 작성하라.

# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)
for i in [10,20,30]:
    print('변수 =', i)
    print(i)

변수 = 10
10
변수 = 20
20
변수 = 30
30

In [19]:
# 137
# 다음 코드를 for문으로 작성하라.

# print(10)
# print(20)
# print(30)
for i in [10,20,30]:

10
20
30

In [21]:
# 138 다음 코드를 for문으로 작성하라.

# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")
for i in [10,20,30]:
    print(i)
    print('------')

10
------
20
------
30
------

In [23]:
# 139
# 다음 코드를 for문으로 작성하라.

# print("++++")
# print(10)
# print(20)
# print(30)

print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [24]:
# 140. 다음 코드를 for문으로 작성하라.

# print("-------")
# print("-------")
# print("-------")
# print("-------")
for i in range(4):
    print("-------")

-------
-------
-------
-------

In [25]:
# 141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
# 110
# 210
# 310
for i in 리스트:
    total = int(i)+10
    print(total)

110
210
310

In [30]:
# 142. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김
text = '오늘의메뉴'
for i in 리스트:
    print(f'{text}:',i)

오늘의메뉴: 김밥
오늘의메뉴: 라면
오늘의메뉴: 튀김

In [31]:
# 143. 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4
for i in 리스트:
    print(len(i))

6
4
4

In [32]:
# 144. 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [33]:
# 145. 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p
for i in 리스트:
    print(i[0])

d
c
p

In [34]:
# 146. 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3
for i in 리스트:
    print('3 x',i)

3 x 1
3 x 2
3 x 3

In [35]:
# 148. 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라
for i in 리스트[1:]:
    print(i)

나
다
라

In [1]:
# 149. 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다
for i in 리스트[::2]: # 시작:ㄲ
    print(i)

가
다

In [3]:
# 150. 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가
for i in reversed(리스트):
    print(i)
    
# for 변수 in 리스트[: :-1]:

라
다
나
가

In [5]:
# 151. 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3
for i in 리스트:
    if  i >=0:
        continue
    else:
        print(i)

-20
-3

In [8]:
# 152. for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
#3
for i in 리스트:
    if i%3==0:
        print(i)

3

In [9]:
# 153. 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18
for i in 리스트:
    if (i <20) and (i%3==0): # 두 수식을 ()로 구분
        print(i)

12
18

In [10]:
# 154. 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [14]:
# 155. 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# A
# D

for i in 리스트:
    if i == i.upper():
        print(i)

# 2개 차이가    
# for 변수 in 리스트:
#   if 변수.isupper():
#     print(변수)

A
D

In [15]:
# 156. 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# b
# c
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [18]:
# 157. 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot

for i in 리스트:
    I=i[0].upper()
    print(I+i[1:])
        

# for i in 리스트:
#     print(i.capitalize())

Dog
Cat
Parrot

In [19]:
# 158 . 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro

for i in 리스트:
    print(i.split('.')[0])
    
#

hello
ex01
intro

In [24]:
# 159. 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# define.h
for i in 리스트:
    if i.split('.')[1]== 'h':
        print(i)

intra.h
define.h

In [30]:
# 160. 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h
for i in 리스트:
    split = i.split('.')
    if (split[1] == 'h') or (split[1] =='c'):
        print(i)

intra.h
intra.c
define.h

In [31]:
# 161. for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [32]:
# 162. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [34]:
# 163. 1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [37]:
# 164. 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(99,0,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [42]:
# 165. for문을 사용해서 아래와 같이 출력하라.
for i in range(10):
    print(i/10)
    #print('0.'+str(i))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [46]:
# 166. 구구단 3단을 출력하라.
num =3
for i in range(1,10):
    print(num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [47]:
# 167. 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
num =3
for i in range(1,10,2):
    print(num, "x", i, " = ", num * i)
    
# for i in range(1, 10) :
#     if i % 2 == 1 : 홀수
#         print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [49]:
# 168. 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
a = 0
for i in range(1,11):
    a += i
print(a)

55

In [52]:
# 169. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
a = 0
for i in range(1,11):
    if i%2==1:
        a += i
    else:
        continue
print(a)

25

In [55]:
# 170. 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
result = 1
for i in range(1,11):
   result = result * i
print(result)

3628800

In [59]:
# 171. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500
print(range(len(price_list)));print(len(price_list))
for i in range(len(price_list)):
    print(price_list[i])

range(0, 4)
4
32100
32150
32000
32500

In [63]:
# 172. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500

for i in range(len(price_list)):
    print(i,price_list[i])

# for i,j in enumerate(price_list):
#     print(i,end=' ')
#     print(j)

0 32100
1 32150
2 32000
3 32500

In [67]:
# 173. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500

for i in range(len(price_list)):
    print((len(price_list)-1)-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [68]:
# 174. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [71]:
# 175. my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [75]:
# 176. 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마
# 01234 - out of range >> len-2
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [86]:
# 177. 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가
# 012
for i in range(len(my_list)-1):
    print(i)
    print(my_list[3-i],my_list[2-i])

0
라 다
1
다 나
2
나 가

In [92]:
# 178. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [ ]:
# 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

In [94]:
# 180. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility =[]
for i in range(0,5):
    pr = high_prices[i] - low_prices[i]
    volatility.append(pr)
print(volatility)

[50, 100, 30, 80, 0]