* 개인 프로필로 변수 만들어보기

In [4]:
name = '김진오'
eng_name = 'Kim Jin O'
phone_number = '0000-0000-0000'

# 한줄 띄고 출력
print(name,'\n',eng_name,'\n',phone_number)
# tap 출력
print(name,'\t',eng_name,'\t',phone_number)

김진오
 Kim Jin O
 0000-0000-0000
김진오 	 Kim Jin O 	 0000-0000-0000

* 숫자

In [5]:
num1 = 1
num2 = 1.0
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

* 문자

In [9]:
str1 = '가나다'
str2 = 'asdc'
str3 = '가나다as다'
str4 = '@!@!asddf233' # " "씌워진건 문자열

print(1)
print(type(1))
print('1')
print(type('1'))
print(type(str1))
print(type(str2))

1
<class 'int'>
1
<class 'str'>
<class 'str'>
<class 'str'>

In [12]:
# 한 줄 출력
print('abcd', end="")
print('efef')
# 한 칸 띄우고 출력
print('abcd', end=" ")
print('efef', end = " ")
print('asda')

abcdefef
abcd efef asda

* 숫자 반올림

In [13]:
# 2자리 -3번째 자리에서 반올림
print("%.2f" %1.12345678)
# 3자리 -4번째 자리에서 반올림
print("%.3f" %1.123456)
# 변수명으로 넣기가능
pi = 3.141592
print("%.2f" %pi)

1.12
1.123
3.14

* 문자 고급출력

In [14]:
when = 10
where = '집'
print('나는 %d시에 %s에 간다'%(when, where)) # %d:digi %s:string
print('나는 {}시에 {}에 간다'.format(when, where)) # {}안에 format(변수)를 출력
print(f'나는 {when}시에 {where}에 간다') # {변수출력} - **짧아서 가장편리**

나는 10시에 집에 간다
나는 10시에 집에 간다
나는 10시에 집에 간다

In [17]:
# f""을 사용해서 출력해보기
when = 5
where = ['home']
why = ['corona']
print(f"나는 {when}에 수업이 끝나면 {why}때문에 {where}에  갈 것이다")

나는 5에 수업이 끝나면 ['corona']때문에 ['home']에  갈 것이다

* 산술연산자(Operator, 사칙연산+@)

In [19]:
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b) # /결과는 float

12
8
20
5.0

In [25]:
# % : 나머지를 구하는 것
print(a%b)
# if a % 2 == 0: 
# if a % 2 != 0:

0

In [26]:
# // : 나눈 몫 구하기
print(a//b)

5

* 변수와 산술연산자와 출력을 이용해서 구구단 만들기

In [28]:
num = int(input())

print(f"{num}단")
print(f"{num} x 1 = {num*1}")
print(f"{num} x 2 = {num*2}")
print(f"{num} x 3 = {num*3}")
print(f"{num} x 4 = {num*4}")
print(f"{num} x 5 = {num*5}")
print(f"{num} x 6 = {num*6}")
print(f"{num} x 7 = {num*7}")
print(f"{num} x 8 = {num*8}")
print(f"{num} x 9 = {num*9}")

2
2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

* set  
내 스타일로 정의하는 set - 어떤 객체던 중복없이 담을 수 있는 통

In [39]:
set_a = {1,1,2,2,3,3}
print(set_a)

# set에서 추가적으로 담는 법
set_a.add(4)
set_a
# # set에서 빼는 법
# set_a = set_a -{2,3}
# print(set_a)

{1, 2, 3}

{1, 2, 3, 4}

* tuple  
아무거나 담을수 있고, +로 추가가능하지만 .. 빼는 것은 안된다.

* 문자열을 비롯한 다른 datatype도 비교가능

In [40]:
print('a'=='a')
print(['^오^']!='이것은문자열')

True
True

* is 비교  
== 단순히 값만 비교  
is 는 객체를 비교  
객체비교: 우리가 만드는 코드(객체)는 메모리 어딘가에 저장, 메모리의 유일한 주소값을 비교

In [41]:
a = [1,2,3]
b = 100
c = 100.0

# 메모리 주소값 찾는법 : id()
print(id(a))
print(id(b))
print(id(c))

140082574552912
94010172755808
140082583656592

In [42]:
c = 100
e = c
c is e

True

* 논리 연산자 (and, or, not)

In [44]:
a=10
b=10
# a와b 둘다 10과 같은가
(a and b) == 10

False

In [45]:
# a와b 둘다 11과 같은가
(a and b) == 11

False

In [46]:
c = 100
d = 1000
(c or d) == 100

True

In [47]:
(c or d) == 10

False

* 조건문 - 조건이 맞지 않으면 실행안됨
* if elif에서 둘다 맞으면 처음 if문만 실행됨

In [49]:
list_2 = ['A','B','C']

In [50]:
if 'A' in list_2:
    print('list_2안에 A가 있으니까 실행')
if 'D' not in list_2:
    print('list_2는 A B C 뿐')

list_2안에 A가 있으니까 실행
list_2는 A B C 뿐

In [53]:
# 조건문이 실행되게 만들어보기
list_3 = [1,2,3,4,5,6,7,8,9]
if len(list_3) <10:         # len() 길이 측정 함수
    print('list_3:',list_3)

list_3: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# a의 type이 set이면 조건문 실행
a = {1,2,3}
if type(a) == set:
    print('type of a:set')

type of a:set

* 반복문  
while: 조건을 만족하면 반복문 실행  
while문 사용시 조건을 계속만족하면 무한루프 조심

In [55]:
# 강제로 끝내기
n =10
while n>0:
    print('break!')
    break

break!